@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Black.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Light.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

body {
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px;
    width: 100%;
}

h2 {
    font-size: 20px;
}

* a {
    text-decoration: none;
    color: black;
}

.container1 .container2 .container3 {
    width: 100%;
}

/* entête du site Reservia */

    /* entête logo et liens de navigation */

header {
    width: 100%;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo inscription"
        "activ activites";
    align-items: center;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo {
    grid-area: logo;
    justify-self: start;
    padding: 0 20px 10px 0;
    margin-left: 15px;
}

.active {
    grid-area: activ;
    text-align: center;
}

.activites {
    grid-area: activites;
    text-align: center;
}

.inscription {
    color: #0065FC;
    grid-area: inscription;
    justify-self: end;
    font-weight: 900;
    padding: 0;
    margin-right: 15px;
}

nav a {
    text-align: center;
    padding: 0 50px 20px 50px;
}

nav a:hover {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}


    /* paragraphe d'entête */

.title h2 {
    margin: 30px 0 0 20px;
}

.title p {
    margin-left: 20px;
}

.title {
    margin: 10px 0;
    max-width: 400px;
    width: 100%;
}


    /* formulaire de localisation */

form {
    display: flex;
    align-items: center;
    width: 350px;
    margin: 30px 15px;
}

label {
    border-radius: 10px 0 0 10px;
    border: 1px #F2F2F2 solid;
    background: #F2F2F2;
    width: 60px;
    height: 60px;
}

form i {
    font-size: 1.5em;
    justify-content: center;
    margin: 15px 0 0 15px;
}

form input[type="text"] {   
    border-right: none;
    border-left: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    font-size: 1.2em;
    text-align: center;
    padding: 18px 0;
    box-sizing: border-box;
}

.desktop {
    display: none;
}

.iphone {
    border: 1px #0065FC solid;
    border-radius: 0 10px 10px 0;
    padding: 17px;
    background-color: #0065FC;
    color: white;
}

.iphone i {
    margin: 0 5px 4px 0;
}


    /* filtres de recherche */

div h2 {
    font-weight: bolder;
    font-size: 1.2em;
}

.filtres {
    display: block;
    width: 100%;
    margin: 30px 0 30px 20px;
}

.filtres ul {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.filtres h2 {
    margin: 0;
}

.filter {    
    list-style-type: none;
    font-weight: 400;
    border: 1px #DEEBFF solid;
    border-radius: 30px;
    margin: 20px 0 0 0;
}

.filter a {
    text-decoration: none;
    margin: 0 20px 0 10px;
    color: black;
}

.filter :hover {
    text-transform: uppercase;
    color: #0065FC;
}

ul i {
    color: #0065FC;
    border: 0  #0065FC solid;
    border-radius: 30px;
    background: #DEEBFF;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 22px 0 0 22px;
}


    /*info*/

.info {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin: 0 10px 20px 20px;
}

.info i {
    color: #0065FC;
    border: 2px #f2f2f2 solid;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
}



/*contenu du site Reservia*/

    /*les plus populaires*/

#best {
    display: flex;
    flex-direction: column;
    border: 1px #f2f2f2 solid;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    max-width: 399px;
    width: 100%;
}


.best-title {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 1em 0 1em;
}

.the_best {
    display: flex;
    flex-direction: row;
    object-fit: cover;
    max-width: 100%;
    border: 0 white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #E5E4E4;
    margin: 15px;
}

.the_best a {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.the_best img {
    object-fit: cover;
    max-width: 35%;
    border-radius: 18px 0 0 18px;
    margin: 5px 5px 4px 5px;
}

.the_best div {
    margin: 0 10px 0 10px;
    color: black;
}

.the_best h4 {
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 20px;
}

.the_best p {
    margin: 10px 0 10px 0;
}

.stars i {
    margin-top: 20px;
    color: #0065FC;
    font-size: 0.8em;
}

.last-stars i {
    margin-top: 20px;
    color: #0065FC;
    font-size: 0.8em;
}

.last-stars i:last-child {
    color: #E5E4E4;
}

    /* hébergements à Marseille */

#hebergement {
    display: flex;
    flex-direction: column;
    border: 1px #f2f2f2 solid;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin-top: 20px;
}

#hebergement h2 {
    font-weight: 900;
    width: 100%;
    margin: 1em 0 0 1em;
}
#hebergement h3 {
    font-weight: 900;
    width: 100%;
    margin: 0 0 1em 1em;
}

.hotel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0 white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #E5E4E4;
    max-width: 692px;
    height: auto;
    margin: 0.8em;
}

.hotel figure {
    margin: 5px;
}

.hotel a {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.hotel img {
    border-radius: 18px 18px 0 0;
    object-fit: cover;
    width: 100%;
}

.hotel-description {
    margin: 0 0 0 1em;
    font-size: 1em;
}

.hotel-description h4 {
    margin: 0;
}

.hotel-description p {
    margin: 0.5em 0;
}

.hotel i {
    font-size: 0.8em;
    color: #0065FC;
    margin-bottom: 10px;
}

.hotel-stars i:last-child {
    color: #E5E4E4;
}

.hotel-twostars i:nth-last-child(-n+2) {
    color: #E5E4E4;
}


    /* activités */

.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 0;
    height: auto;
}

#activities-title {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 10px 10px;
}

.sorties {
    border: 0 white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #E5E4E4;
    margin: 10px 10px 10px 0;
    max-width: 365px;
    width: 100%;
    height: 250px;
}

.sorties img {
    object-fit: cover;
    border-radius: 18px 18px 0 0;
    max-width: 375px;
    width: 100%;
    height: 200px;
}

.sorties figure {
    margin: 0;
}

.sorties a {
    text-decoration: none;
    color: black;
}

.sorties figcaption {
    font-weight: 600;
    margin: 10px 0 0 10px;
}

    
    /* pied de page du site Reservia */

footer {
    display: block;
    flex-direction: column;
    background-color: #F2F2F2;
    margin: 0;
    padding: 20px;
    /*max-width: 400px;*/
    width: 100%;
}


.footer {
    margin: 0 10px 10px 20px;
}

.footer li {
    list-style-type: none;
}

.footer ul {
    padding: 0;
}



@media screen and (min-width: 400px) {

    header {
        margin: 5px;
    }
    
    main {
        margin: 5px;
    }

    
    /* les plus populaires */

/*   #best {
        margin: 0;
        max-width: 760px;
        width: 100%;
   }
   
    .the_best {
        object-fit: cover;
        max-width: 95%;
        width: 100%;
    }*/

    .title {
        max-width: 800px;
        width: 100%;
    }

    .info {
        max-width: 600px;
    }

    /* activités */

    .activities {
        justify-content: center;
        width: 100%;
    }

    .sortie1 .sorties {
        width: 100%;
        height: 500px;
    }

    .sortie1 {
        margin: 3px 0;
    }

    .sortie2 {
        margin: 0;
    }

   .sortie1 img {
        object-fit: cover;
        height: 450px;
    }


    /* pied de page du site Reservia */

    .footer {
        margin: 0 20px;
    }

    .footer h3 {
        margin-bottom: 12px;
    }
    .footer ul {
        width: 260px;
        margin-top: 12px;
    }

    .footer li {
        padding: 2px 0;
    }

}


@media screen and (min-width: 769px) {

        body {
            margin: 1em;
        }

        main {
            margin: 0 10px;
        }

/* entête du site Reservia */

    /* entête logo et liens de navigation */

    nav ul {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
            "logo . . . . . activ activites inscription";
    }

    nav a {
        padding: 20px 30px 0 30px;
    }
    
    nav a:hover {
        border-bottom: 0;
        border-top: 2px solid #0065FC;
        color: #0065FC;
    }

    .inscription {
        padding-top: 0;
    }


    /* formulaire de localisation */

    form {
        width: 750px;
    }
    
    /*label {
        border-radius: 10px 0 0 10px;
        border: 1px #F2F2F2 solid;
        background: #F2F2F2;
        width: 60px;
        height: 60px;
    }*/

    form i {
        font-size: 1.5em;
        justify-content: center;
        margin: 18px 0 0 20px;
    }

    .iphone {
        display: none;
    }

    .desktop {
        display: inline-block;
        border: 1px #0065FC solid;
        border-radius: 0 10px 10px 0;
        padding: 17px;
        background-color: #0065FC;
        color:white;
        font-size: 1.2em;
    }


        /* filtres de recherche */
    
    .filtres {
        display: flex;
        justify-content: flex-start;
    }

    .filtres ul {
        display: flex;
        justify-content: flex-start;
        flex-basis: 100%;
    }

    .filtres li {
        margin: 0 20px 20px 20px;
    }

    .filtres h2 {
        margin-top: 14px;
    }


/*contenu du site Reservia*/

    .container1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*les plus populaires*/

    #best {
        max-width: 1400px;
        margin: 0 0;
    }

    .the_best {
        display: flex;
        justify-content: center;
        max-width: 500px;
        width: 100%;
    }

    .the_best img {
        max-width: 100%;
    }

    /* hébergements à Marseille */

    #hebergement {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 10px 0;
        order: -1;
        width: 100%;
    }


    .hotel {
        justify-content: space-evenly;
    }

    h3 {
        margin-bottom: 10px;
    }


    /* activités */

    .container2 {
        display: flex;
        flex: 1;
        width: 100%;
    }

    .activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
    }

    .sorties {
        margin-left: 0;
    }
    .sortie1 .sorties {
        height: 500px;
    }

    .sortie1 {
        margin: 3px 0;
    }

    .sortie2 {
        margin: 0;
    }

    .sortie1 .sorties figure img {
        width: 100%;
    }

/* pied de page du site Reservia */

    .container3 {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .footer {
        justify-content: space-around;
        width: 100%;
        margin: 0;
    }

}

@media screen and (min-width: 1416px) {

    #hebergement {
        margin-left: 0;
    }

    #best {
        max-width: 395px;
        margin-left: 10px;
    }

    .the_best {
        display: flex;
        justify-content: center;
        max-width: 346px;
        width: 100%;
    }

}

@media screen and (min-width: 1500px) {

    #hebergement {
        width: 72%;
    }
}


@media screen and (min-width: 1556px) {

    body {
        max-width: 1555px;
        width: 100%;
        /*height: auto;*/
        /*margin: 0;*/
        margin: auto;
        box-shadow: 0 0 10px black;
        background-color: white;
    }

    header {
        width: 100%;
        /*padding: 1em;*/
    }

    #hebergement {
        max-width: 1059px;
        margin: 0;
    }

    main {
        width: 100%;
        justify-content: space-around;
        /*margin-left: 20px;
        margin-right: 0;*/
        padding: 0.5em 0 0.5em 0.5em;
    }

    .sorties {
        padding: 0;
    }

    .container3 {
        /*margin-bottom: 20px;
        margin-left: 30px;*/
    }
}