@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Black.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Light.ttf') format('truetype');
    src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}



body {
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

h2 {
    font-size: 20px;
}

.container0 .container1 .container2 .container3 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

* a {
    text-decoration: none;
    color: black;
}


/* entête du site Reservia */

    /* entête logo et liens de navigation */

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo inscription"
        "activ activites";
    align-items: center;
    font-size: 16px;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
}

.logo {
    grid-area: logo;
    justify-self: start;
    padding: 0 20px 10px 0;
}

.active {
    grid-area: activ;
    text-align: center;
    width: 100%;
}

.activites {
    grid-area: activites;
    text-align: center;
    width: 100%;
}

.inscription {
    color: #0065FC;
    grid-area: inscription;
    justify-self: end;
    font-weight: 900;
    padding: 0 20px 10px 20px;
}

nav a {
    text-align: center;
    padding: 0 50px 20px 50px;
}

nav a:hover {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}


    /* paragraphe d'entête */

.title h2 {
    margin: 30px 0 0 0;
}

.title {
    margin: 10px 0;
}


    /* formulaire de localisation */

form {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 30px 0;
}

form label {
    border-radius: 10px 0 0 10px;
    border: 1px #F2F2F2 solid;
    background: #F2F2F2;
    width: 40px;
    height: 40px;
}

form i {
    font-size: 1em;
    justify-content: center;
    margin: 12px 0 0 14px;
}

form input[type="text"] {   
    border-right: none;
    border-left: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

.desktop {
    display: none;
}

.iphone {
    border: 1px #0065FC solid;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    background-color: #0065FC;
    color: white;
}

.iphone i {
    margin: 0 5px 4px 0;
}


    /* filtres de recherche */

div h2 {
    font-weight: bolder;
    font-size: 1.2em;
}

.filtres {
    display: block;
    margin: 30px 0;
}

.filtres ul {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.filtres h2 {
    margin: 0;
}

.filter {    
    list-style-type: none;
    font-weight: 400;
    border: 1px #DEEBFF solid;
    border-radius: 30px;
    margin: 20px 0 0 0;
}

.filter a {
    text-decoration: none;
    margin: 0 20px 0 10px;
    color: black;
}

.filter :hover {
    text-transform: uppercase;
    color: #0065FC;
}

ul i {
    color: #0065FC;
    border: 0  #0065FC solid;
    border-radius: 30px;
    background: #DEEBFF;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 22px 0 0 22px;
}


    /*info*/

.info {
    display: flex;
    flex-direction: row;
    margin: 0 10px 20px 0;
}

.info i {
    color: #0065FC;
    border: 2px #f2f2f2 solid;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
}



/*contenu du site Reservia*/

    /*les plus populaires*/

#best {
    display: flex;
    flex-direction: column;
    border: 1px #f2f2f2 solid;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin: 0;
}

.best-title {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    height: 54px;
}

.best-title i{
    margin-top: 16.6px;
}

.the_best {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    width: 100%;
    clear: both;
    border: 0 white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #E5E4E4;
    margin: 15px;
}

.the_best a {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.the_best img {
    object-fit: cover;
    border-radius: 18px 0 0 18px;
    width: 100%;
    margin: 5px 5px 4px 5px;
}

.the_best div {
    margin: 0 10px 0 10px;
    color: black;
}

.the_best h4 {
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 20px;
}

.the_best p {
    margin: 10px 0 10px 0;
}

.stars i {
    margin-top: 20px;
    color: #0065FC;
    font-size: 0.8em;
}

.last-stars i {
    margin-top: 20px;
    color: #0065FC;
    font-size: 0.8em;
}

.last-stars i:last-child {
    color: #E5E4E4;
}

    /* hébergements à Marseille */

#hebergement {
    display: flex;
    flex-direction: column;
    border: 1px #f2f2f2 solid;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin-top: 20px;
}

.hebergement-title {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 20px;
}

.hotel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0 white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #E5E4E4;
    max-width: 692px;
    margin: 15px auto;
}

.hotel figure {
    margin: 5px;
}

.hotel a {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.hotel img {
    border-radius: 18px 18px 0 0;
    object-fit: cover;
    width: 100%;
}

.hotel figcaption {
    font-weight: 900;
    padding-top: 0;
    margin-left: 12px;
}

.hotel div {
    margin-left: 18px;
    font-size: 1em;
}

.hotel div p {
    margin: 0;
}

.hotel i {
    font-size: 0.8em;
    color: #0065FC;
    margin-bottom: 10px;
}

.hotel-stars i:last-child {
    color: #E5E4E4;
}

.hotel-twostars i:nth-last-child(-n+2) {
    color: #E5E4E4;
}


    /* activités */

.activities {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    width: 375px;
    height: auto;
}

#activities-title {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 10px 20px;
}

.sorties {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0 white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #E5E4E4;
    margin: 10px;
    width: 340px;
    height: 250px;
}

.sorties img {
    object-fit: cover;
    border-radius: 18px 18px 0 0;
    width: 340px;
    height: 200px;
}

.sorties figure {
    margin: 0;
}

.sorties a {
    text-decoration: none;
    color: black;
}

.sorties figcaption {
    margin: 10px 0 0 10px;

}

    
    /* pied de page du site Reservia */

footer {
    display: block;
    flex-direction: column;
    background-color: #F2F2F2;
    margin: 0;
    padding: 1em;
}

.footer {
    margin: 0;
}

.footer li {
    list-style-type: none;
}

.footer ul {
    padding: 0;
}




@media screen and (min-width: 800px) {


/* entête du site Reservia */

    /* entête logo et liens de navigation */

    nav ul {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
            "logo . . . . . activ activites inscription";
    }

    nav a {
        padding: 20px 30px 0 30px;
    }
    
    nav a:hover {
        border-bottom: 0;
        border-top: 2px solid #0065FC;
        color: #0065FC;
    }


    /* formulaire de localisation */

    .iphone {
        display: none;
    }

    .desktop {
        display: inline-block;
        border: 1px #0065FC solid;
        border-radius: 0 10px 10px 0;
        padding: 12px;
        background-color: #0065FC;
        color:white;
    }


        /* filtres de recherche */
    
    .filtres {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
    }

    .filtres ul {
        display: flex;
        justify-content: space-between;
        flex-basis: 60%;
    }

    .filtres li {
        margin: 0 20px 20px 20px;
    }

    .filtres h2 {
        margin-top: 14px;
    }


/*contenu du site Reservia*/

    .container1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*les plus populaires*/

    #the_best {
        width: 30%;
        margin: 0 0;
    }

    /* hébergements à Marseille */

    #hebergement {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
        order: -1;
        width: 70%;
    }


    .hotel {
        justify-content: space-evenly;
    }

    div h3 {
        margin-bottom: 10px;
    }


    /* activités */

    .activities {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
    }


    .sortie1 .sorties {
        height: 500px;
    }

    .sortie1 {
        margin: 3px 0;
    }

    .sortie2 {
        margin: 0;
    }

    .sortie1 .sorties figure img {
        flex-basis: 100%;
    }

    .sortie1 img {
        object-fit: cover;
        border-radius: 18px 18px 0 0;
        width: 340px;
        height: 450px;
    }


/* pied de page du site Reservia */

    .container3 {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .footer {
        margin: 0;
    }

}

@media screen and (max-width: 1562px)

    body {
        margin: auto;
        box-shadow: 0 0 10px black;
        background-color: blue;
    }

    header main [
        background-color: white;
    ]