@font-face {
    font-family: 'Raleway';
    src: url('public/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    src: url('public/fonts/Raleway/Raleway-Black.ttf') format('truetype');
    src: url('public/fonts/Raleway/Raleway-Light.ttf') format('truetype');
    src: url('public/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: ;
}

.topbar-logo {
    justify-content: flex-start;
}

nav .activites {
    justify-content: space-around;
    
}