/*body*/

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Black.ttf');
    src: url('fonts/Raleway-Light.ttf');
}

body {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

/*header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 53px;
    margin: 1em;

}

header :nth-child(2) {
    order: 2;
}

header :nth-child(3) {
    order: 1;
}

#logo #inscription {
    position: static;
    height: 69px;
}

#logo {
    width: 1226px;
}

.nav {
    height: 226px;
    height: 69px;
}

.nav a {
    display: inline flex;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    border-top: 5px;
    color: blue;
}



}

